footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='https://github.com/pavitrapoojary') GIT Hub
    li: a(href='https://www.linkedin.com/in/pavitra-poojary/') Linkedin
    li: a(href='mailto:poojarypavitra2@gmail.com') Email
  p.footer__copyright &copy; by Pavitra Poojary!