extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings')
          +navItem('/my-tours', 'My bookings', 'briefcase')
          +navItem('/my-reviews', 'My reviews', 'star')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'Manage tours', 'map')
              +navItem('/manage-users', 'Manage users', 'users')
              +navItem('/manage-reviews', 'Manage reviews', 'star')

      .user-view__content
        .user-view__form-container
            h2.heading-secondary.ma-bt-lg Manage Tours
                br
                br
                br
                a.nav__el2(href='/create-new-tour') Create a new Tour 
                br
                br
                a.nav__el2(href='/update-tour') Update a tour 
                br
                br
                a.nav__el2(href='/delete-tour') Delete a tour
